div.ui.container.navbar {
    /* margin-top:0px;
    margin-bottom:10px; */
    padding-top: 20px;
    padding-bottom: 15px;
    height:60px;
    background:transparent;
}

div.ui.top.fixed.menu {
    background: transparent;
    border-style: none;
}

a.nav-link {
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;   
    font-family: 'Open Sans', sans-serif;


}

.nav-items{
    font-size: 22px;
    /* text-shadow: 0px 0px 10px black; */
    
}
.nav-items:hover{
    font-size: 26px;
}

#navbar{
    /* background:pink; */
    width: 100%;
    margin-left: 10px !important;
    margin-right: 10px !important;
}