.dashboard{
    width: 100%;
    height: 100%;
    margin-top: -25px !important;
    margin-bottom:-25px;
    background-image:url('../../img/mustacheman.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    padding: 50px;

}

.delete-btn{
    float: right;

}

#my-dashboard{
    text-align: center;
}

#create-tribute-btn{
    float: right;
}