.column{
    margin-top: 20px;
    border: black 1px solid;
}

.topWrapper{
    background: beige;
    min-height: 395px;
}

.picture{
    float: left;
    background-color: white;
}

.image{
    padding: 25px 55px 25px 55px;

}
img{
    max-height: 300px;
}

.bio{
    padding: 0px 0px 100px 350px;
    max-width: 1200px;
}


.border{
    border: 1px solid black;
}


@media (max-width: 760px) {
    .picture{
        float: none;
        padding-left:25px;
        border: 1px solid black;
    }
    
    .bio{
        text-align: center;
        display: block;

    }
    
    
}
