.profile{
    margin-top: -25px !important;
    margin-bottom:-25px;
    background-image:url('../../img/temple.jpg') ;
    /* background-color: #BCBABE; */
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;

    padding: 50px;

}

.profile-container{
    margin-top: 55px;
    background: rgba(161, 214, 226, 0.75);
    padding: 75px;
    padding-top: 50px;
    border-radius: 5px;
}   


#profile-pic{
    padding: 10px;
}

.profile-header{
    border: 1px solid #bdbdbd  ;
    background-image:url('../../img/whiteflowers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}