.commentlog-box{
    border: 1px solid black;
    background: beige;
    text-align: left; 
    margin-top: 10px;
    padding: 10px;
}

.commentlog-avatar{
    font-size: 20px;
}

.author{
    font-weight: bold;
    margin-right: 10px;
}