.ThreeThings-div {
  /* background: rgb(25,149,173); */
  /* background: linear-gradient(90deg, rgba(25,149,173,1) 0%, rgba(161,214,226,1) 35%, rgba(255,255,255,1) 100%); */
  padding-top: 40px;
  padding-bottom: 40px;
}

.media-object-img  {
  border: 2px solid whitesmoke;
}
#logo1{
  border: 2px solid #F1F1F2;
}
.info-text{
 font-size:20px; 
}

.media {
  margin-top: 30px;

}

.media-body-middle, .media-body {
  margin-top: 5%;
}