.cp-wrapper{
    width: 100%;
    height: 100%;
    margin-top: -25px !important;
    margin-bottom:-25px;
    background-image:url('../../img/photo-room.jpg') ;
    /* background: blue; */
    background-size: cover; 
    padding: 50px;

}

.upload{
    margin-bottom: 15px;
}