.footer-wrapper{
    background: black;
    max-height: 190px;
    text-align: center;
    padding: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


.white-footer.text{
    margin-top: 20px;
    margin-bottom: 0px;
}

.description{
    color: black;   
}

.left-column, .mid-column, .right-column{
    color: white;
}

#logo{
    height: 50px;
    width: 50px;
    display: block;
}

#contributor-text{
    margin-top:10px;
    font-size: 14px;
}

#lb-text{
    margin-top:10px;
    font-size: 14px;

}

#code-text{
    margin-top:10px;
    font-size: 16px;

}

.footer-link, .copyright { 
    color: rgba(255, 255, 255, 0.5);
} 

.footer-link:hover {
    font-size: 17px;
    color: white; 
    text-decoration: none;
}
#cool-link::after {
    content: '';
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background:#A1D6E2 !important;
    
    transition: width .3s !important;
}
#cool-link:hover::after{
    width: 100% !important;
}

.footer-lower{
    padding-top: 20px;
    text-align: center;
    background: inherit;
}

#middle-column {
    border:1px solid white;
    width:100px !important
}