.navbar {
    padding: 15px 0 15px;
    /* box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08) */
    /* font-size: 20px; */
    font-size:1.25rem;
}

.nav-link::after {
    content: '';
    display: block !important;
    width: 0 !important;
    height: 2px !important;
    background:#A1D6E2 !important;
    
    transition: width .3s !important;
}

.nav-link:hover::after {
    width: 100% !important;
    /* //transition: width .3s; */
}