.search-wrapper {
    background-image:url('https://images.unsplash.com/photo-1519681819371-90856986ef04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=02696429016759ee4877435669b6d83f&auto=format&fit=crop&w=2565&q=80') ;
    /* Full height */
    /* height: 100%;  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    padding: 170px;
    
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}